<div class="main-container">
  <div class="app-header">
    <h2>Calendar app</h2>
  </div>
  <form class="form-container" [formGroup]="calendarsDataForm">
    <div class="input-container">
      <label>Start Date: </label>
      <input formControlName="startDate" type="date" class="form-input">
    </div>
    <div class="input-container">
      <label>Number of days: </label>
      <input formControlName="numberOfDays" type="number" class="form-input">
    </div>
    <div class="input-container">
      <label>Country code: </label>
      <input formControlName="countryCode" type="text" class="form-input">
    </div>
  </form>
  <div class="calendars-container">
    <div class="calendars-grid">
      <div class="calendar-item">
        <app-calendar
          [showDays]="true"
          month="august"
          year="2018"
          [daysAmount]="daysAmount"
          [monthStartDay]="monthStartDay"
        >
        </app-calendar>
      </div>
      <div class="calendar-item">
        <app-calendar
          [showDays]="true"
          month="august"
          year="2018"
          [daysAmount]="daysAmount"
          [monthStartDay]="monthStartDay"
        >
        </app-calendar>
      </div>
      <div class="calendar-item">
        <app-calendar
          [showDays]="true"
          month="august"
          year="2018"
          [daysAmount]="daysAmount"
          [monthStartDay]="monthStartDay"
        >
        </app-calendar>
      </div>
      <div class="calendar-item">
        <app-calendar
          [showDays]="true"
          month="august"
          year="2018"
          [daysAmount]="daysAmount"
          [monthStartDay]="monthStartDay"
        >
        </app-calendar>
      </div>
    </div>
  </div>
</div>