<div class="main-container">
  <div class="app-header">
    <h2>Calendar app</h2>
  </div>
  <form class="form-container" [formGroup]="calendarsDataForm">
    <div class="input-container">
      <label>Start Date: </label>
      <input formControlName="startDate" type="date" class="form-input">
    </div>
    <div class="input-container">
      <label>Number of days: </label>
      <input formControlName="numberOfDays" type="number" class="form-input">
    </div>
    <div class="input-container">
      <label>Country code: </label>
      <input formControlName="countryCode" type="text" class="form-input">
    </div>
  </form>
  <div class="form-messages">
    <div *ngIf="showDateText" class="form-message-text">- Enter Start Date</div>
    <div *ngIf="showNumberOfDaysText" class="form-message-text">- Enter number of days</div>
    <div *ngIf="showCountryCodeText" class="form-message-text">- Enter country code to check holidays in range</div>
  </div>
  <div class="calendars-container">
    <div class="calendars-grid">
      <div class="calendar-item" *ngFor="let data of calendarData">
        <app-calendar
          [showDays]="data.showDays"
          [month]="data.month"
          [startFrom]="data.startFrom"
          [endIn]="data.endIn"
          [year]="data.year"
          [daysAmount]="data.daysAmount"
          [monthStartDay]="data.monthStartDay"
          [holidays]="data.holidays"
        >
        </app-calendar>
      </div>
    </div>
  </div>
</div>