<div class="main-container">
  <div class="input-container">
    <p>The inputs go here</p>
  </div>
  <div class="calendars-container">
    <div class="calendars-grid">
      <div class="calendar-item">
        <app-calendar
          [showDays]="true"
          month="august"
          year="2018"
          [daysAmount]="daysAmount"
          [monthStartDay]="monthStartDay"
        >
        </app-calendar>
      </div>
      <div class="calendar-item">
        <app-calendar
          [showDays]="true"
          month="august"
          year="2018"
          [daysAmount]="daysAmount"
          [monthStartDay]="monthStartDay"
        >
        </app-calendar>
      </div>
      <div class="calendar-item">
        <app-calendar
          [showDays]="true"
          month="august"
          year="2018"
          [daysAmount]="daysAmount"
          [monthStartDay]="monthStartDay"
        >
        </app-calendar>
      </div>
      <div class="calendar-item">
        <app-calendar
          [showDays]="true"
          month="august"
          year="2018"
          [daysAmount]="daysAmount"
          [monthStartDay]="monthStartDay"
        >
        </app-calendar>
      </div>
    </div>
  </div>
</div>